<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 5" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 5" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="BackLeg">
        <inertial>
            <origin xyz="0 -0.5978478192404275 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.5978478192404275 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.195695638480855 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.5978478192404275 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.195695638480855 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="FrontLeg">
        <inertial>
            <origin xyz="0 0.959329766662262 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.959329766662262 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.918659533324524 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.959329766662262 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.918659533324524 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="LeftLeg">
        <inertial>
            <origin xyz="-0.8504815565565813 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.8504815565565813 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7009631131131626 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.8504815565565813 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7009631131131626 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="RightLeg">
        <inertial>
            <origin xyz="0.35499261353444744 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.35499261353444744 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7099852270688949 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.35499261353444744 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7099852270688949 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <link name="BackFoot">
        <inertial>
            <origin xyz="0 0 -0.9445965377630416" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.9445965377630416" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.8891930755260833" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.9445965377630416" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.8891930755260833" />
            </geometry>
        </collision>
    </link>
    <link name="FrontFoot">
        <inertial>
            <origin xyz="0 0 -1.2896300453146572" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.2896300453146572" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 2.5792600906293144" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.2896300453146572" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 2.5792600906293144" />
            </geometry>
        </collision>
    </link>
    <link name="LeftFoot">
        <inertial>
            <origin xyz="0 0 -0.9277794300042881" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.9277794300042881" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.8555588600085762" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.9277794300042881" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.8555588600085762" />
            </geometry>
        </collision>
    </link>
    <link name="RightFoot">
        <inertial>
            <origin xyz="0 0 -0.3093759671258771" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.3093759671258771" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.6187519342517542" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.3093759671258771" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.6187519342517542" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_BackLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="BackLeg"/>
       <origin rpy="0 0 0" xyz="0 -.5 5"/>
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_FrontLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="FrontLeg"/>
       <origin rpy="0 0 0" xyz="0 .5 5"/>
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_LeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftLeg"/>
       <origin rpy="0 0 0" xyz="-.5 0 5"/>
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_RightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="RightLeg"/>
       <origin rpy="0 0 0" xyz=".5 0 5"/>
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="BackKnee" type="revolute">
       <parent link="BackLeg"/>
       <child  link="BackFoot"/>
       <origin rpy="0 0 0" xyz="0 -1.195695638480855 0"/>
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="FrontKnee" type="revolute">
       <parent link="FrontLeg"/>
       <child  link="FrontFoot"/>
       <origin rpy="0 0 0" xyz="0 1.918659533324524 0"/>
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="LeftKnee" type="revolute">
       <parent link="LeftLeg"/>
       <child  link="LeftFoot"/>
       <origin rpy="0 0 0" xyz="-1.7009631131131626 0 0"/>
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="RightKnee" type="revolute">
       <parent link="RightLeg"/>
       <child  link="RightFoot"/>
       <origin rpy="0 0 0" xyz="0.7099852270688949 0 0"/>
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>